{
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "no-plusplus":"off",
    "no-console":"off",
    "no-restricted-exports":"off",
    "arrow-body-style":"off"
  },
  "env": {
    "browser": true,
    "es6":true
}
}